body {
	padding-top: 20px;
	padding-bottom: 20px;
	background: url("../images/wall1.jpg") no-repeat center center fixed;
	background-size: 100%;
	color: #ffffff;
}
.answers {
	padding-left: 1em;
}
.answers label {
	cursor: pointer;
	font-size: 2em;
	margin: 0;
	padding: 0;
}
#quiz-form div {
	transition: all 0.5s ease;
}

/* additionally to bootstrap's ones*/
.btn-xlarge {
	padding: 18px 28px;
	font-size: 22px;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.well{
	background-color: rgba(255,255,255,0.4);
	color: black;
}