<h1>Диагноз</h1>

<div class="progress active">
	<div class="bar" style="width: {{ results.percentage }}%;">{{ results.percentage // 1 }}%</div>
</div>
<div class="well muted">{{ results.diagnosis }}</div>

<div id="yashare" data-yashareL10n="ru"
	 data-yashareType="link"
	 data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"
	 data-yashareTitle="#trapmyswag — {{ results.diagnosis }} #trapmyswag"
		></div>