<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{% block title %}{{ config.common.app_title }}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!--[if lt IE 7]>
<p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
	browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
	experience this site.</p>
<![endif]-->

{% block content %}
{% endblock %}

<div id="footer">
	<div class="container navbar-fixed-bottom text-center">
		{% block footer %}
		<span class="muted credit text-error">&copy; trapmyswag 2013
			<a href="./stats" class="btn-mini btn-link">stats</a>
			{% if config.common.application_mode == 'development' %} <button type="button" id="rand" class="btn btn-mini">[fill with random]</button> {% endif %}
		</span>
		{% endblock %}
	</div><!-- /container -->
</div>

{% if config.common.application_mode == 'development' %}

	<link rel="stylesheet" href="public/stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" href="public/stylesheets/bootstrap-responsive.min.css"/>

	<script type="text/javascript" src="public/javascripts//jquery.js"></script>
	<script type="text/javascript" src="public/javascripts/jquery.scrollTo.js"></script>
	<script type="text/javascript" src="public/javascripts/jquery.form.js"></script>

{% elseif config.common.application_mode == 'production' %}

	<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/2.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/2.3.2/css/bootstrap-responsive.min.css">
	<!--link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/3.2.1/css/font-awesome.min.css"-->

	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1.10.2/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.scrollto/1.4.6/jquery.scrollTo.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.form/3.36/jquery.form.min.js"></script>

	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>

	{% include 'metrika.twig' %}

{% endif %}

<link rel="stylesheet" href="public/stylesheets/styles.css?3">
{% block assets %}
{% endblock %}

</body>
</html>