{% extends 'layout.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
	<div id="wrap">
		<div class="container">
			<div class="row">
				<div id="quiz-area" class="span8 offset2">
					<div id="intro" class="jumbotron">
						<p class="well lead">Свэг &mdash; трудно поддающееся определению качество, обладать которым
							стремится
							любой виггер. Можно разбрасыватся этим словом направо и налево, но так и не раскусить секрет
							игроков из высшей лиги. Существует много разновидностей тестов на IQ, но до сих пор не было
							ни одного онлайн-метода быстро вычислить коэффициент свэга. Объединив опыт заокеанских
							патриархов свэга ученые свели всё разнообразие свэг-проявлений к нескольким
							вопросам-маркерам &mdash; результат их работы перед вами. Этот тест поможет вам понять на
							правильном ли вы пути в своих свэг-начинаниях и даст рекомендации для повышения уровня
							свэга.</p>
						<button id="start" class="btn btn-xlarge btn-danger">Начать &rarr;</button>
					</div>
					<form action="" method="post" id="quiz-form" style="display: none;">
						<div class="well lead">
							<div id="questions-wrapper">
								<!-- questions are here -->
								{% for question in questions %}
									<div class="question" id="q{{ question.id }}" data-question-id="{{ question.id }}">
										<div class="page-header">
											<h2>{{ question.text }}</h2>
										</div>

										<div class="answers">
											{% for answer in question.answers %}
												<label><input type="radio" name="q{{ loop.parent.question.id }}"
															  value="{{ answer.num }}"> {{ answer.text }}</label>
												<br>
											{% endfor %}
										</div>
									</div>
									<br>
								{% endfor %}
							</div>
						</div>
						<button type="button" id="next" class="btn btn-large btn-danger">дальше &rarr;</button>
						<input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
					</form>
				</div>
			</div>
		</div>
		<!-- /container -->
	</div>
{% endblock %}

{% block assets %}
	<script src="public/javascripts/quiz.js"></script>
{% endblock %}