{% extends 'layout.twig' %}

{% block title %}{{ parent() }} &mdash; статистика{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="text-center">Статистика</h1>

			<div class="span8 offset2 clearfix">
				<div id="chartz"></div>
			</div>
		</div>
		<br>
		<div class="row text-center">
			<a href="/" class="btn btn-xlarge btn-success">&larr; Пройти тест</a>
		</div>
	</div>
{% endblock %}

{% block assets %}
	<script type="text/javascript" src="//cdn.jsdelivr.net/highcharts/3.0.1/highcharts.js"></script>
	<script>
		$('#chartz')
				.highcharts({
					chart: {
						type: 'line',
						backgroundColor: 'rgba(255, 255, 255, 0.5)'
					},
					title: {
						text: ''
					},
					subtitle: {
						text: ''
					},
					xAxis: {
						labels: {
							formatter: function () {
								return this.value + '%';
							}
						}
					},
					yAxis: {
						title: {
							text: 'кол-во'
						},
						labels: {
							formatter: function () {
								return this.value;
							}
						},
						allowDecimals: false,
						min: 0
					},
					tooltip: {
						formatter: function() {
							return '<b>' + this.x + '%</b><br/>' + this.y;
						}
					},
					plotOptions: {
						area: {
							marker: {
								enabled: false,
								symbol: 'circle',
								radius: 2,
								states: {
									hover: {
										enabled: true
									}
								}
							}
						}
					},
					series: [
						{
							name: 'swag',
							data: {{ stats|json_encode() }}
						}
					]
				})
		;

	</script>
{% endblock %}